<h2>what and why</h2>
Occupy is as much about speaking as it is about listening. We all want to hear so much more from everyone that shows up. The 99% photos and essays are great but it is a loss if the voices (thousands+) at the camps and among the occupy crowds are not getting out.
<br /><br />
We love the photos. We love the videos, but some of us love radio. We connect with others over the phone. We want to hear the unfiltered and raw passion in the voice of people. 

<br /><br />
The people's mic and now the voicemail at occupymessages. This movement is about your rights and your voice. 

<br /><br />
We know people do not have web access at the camps but we still want to hear your voice. Everyone has a right to be heard and to be a part of the story.
<br /><br />
Please call in.  Please explain "Why are you here? Why did you come? What did you learn? What did you try to say?"
